@page
@model WinnerModel
@{
    ViewData["Title"] = "Winner";
}

<div class="panel">
    <div class="panel-body">
        @foreach (var winner in Model.Winners)
        {
            <div class="row">
                <div class="text-center">
                    @if (winner.Position == 1)
                    {
                        <h4>
                            Winner: @($"{winner.Forename} {winner.Surname}")
                        </h4>
                    }
                    else if (winner.Position == 2)
                    {
                        <p>
                            Second Place: @($"{winner.Forename} {winner.Surname}")
                        </p>
                    }
                    else
                    {
                        <p>
                            Third Place: @($"{winner.Forename} {winner.Surname}")
                        </p>
                    }
                </div>
            </div>
        }
    </div>
</div>
